*{
    margin: 0;
    padding: 0;
}
header{
    padding: 20px 40px;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-left,
.nav-right {
    display: flex; gap: 30px;
}
.hero {
    background-image: url("images/background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items:flex-end;
}
.cake {
    width: 500px;
}