*{
    margin: 0;
    padding: 0;
}
header{
    padding: 20px 40px 0;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
}

nav h1{
    font-family: Rammetto One,
    sans-serif;
    font-size: 56px;
    font-weight: 400;
    line-height: 56px;
    color: #361C8E;
    text-transform: uppercase;
    margin: 0 40px;
}

nav a {
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0;
    text-decoration: none;
    color: #361C8E;
}


.nav-left,
.nav-right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;
}
.hero {
    background-image: url("images/background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items:flex-end;
    gap: 20px;
}
.divider {
    width: 1px;
    height: 26px;
    background-color: #FFB5E2;
}
.cake {
    width: 500px;
}
.hero-left,
.hero-right{
font-family: Rammetto One,
    sans-serif;
    font-size: 100px;
    font-weight: 400;
    line-height: 92px;
    letter-spacing: 0;
    color:white;
    align-self: center;

}
.hero-left {
    margin-right: -100px;
}
.hero-right {
    margin-left: -100px;
    position: relative;
}

.tagline {
    font-family: "Playball";
    font-size: 40px;
    font-weight: 400;
    color: #F345D6;
    text-align: center;
}
.decor {
    height: 40px;
    background-image: url("images/Intersect.png");
    background-repeat: repeat-x;
    background-position: bottom left;
    position: relative;
    z-index: 2;
    margin-bottom: -40px;
    width: calc(100% + 80px);
    margin-left: -40px;
}
.order-btn {
    position: absolute;
    width: 115px;
    height: 115px;
    border-radius: 50%;
    background-color: #F345D6;

    display: flex;
    align-items: center;
    justify-content: center;

    font-family: "Inter",
    sans-serif;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 500;
    color: white;
    text-decoration: none;

    top: -30px;
    right: 40px;
   z-index: 1;
}
.order-btn::before,
.order-btn::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border: 2px solid white;
    border-radius: 50%;
    animation: ripple 2s infinite;
    z-index: -1;

}
.order-btn::after {
    animation-delay: 1s;
}

@keyframes ripple {
    0% {
        transform: scale(1);
        opacity: 0.8;
    }
    100% {
        transform: scale(2);
        opacity: 0;
    }
}

aside {
    background-color: #FFF0F8;
}

.info {
    max-width: 1100px;
    margin: 0 auto;
    padding: 70px 40px;
    text-align: center;
}
.info h2 {
    font-family: "Rammetto One",
    sans-serif;
    color: #361C8E;
    font-size: 36px;
    margin-bottom: 40px;
}
.info-items {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}
.info-items div {
    flex: 1;
}
.info-items h3 {
    font-family: "Playball",
    cursive;
    color: #F345D6;
    font-size: 30px;
    font-weight: 200;
    margin-bottom: 12px;
}
.info-items p {
   font-family: "Inter",
    sans-serif;
    font-size: 16px; 
    line-height: 1.5;
    color: #361C8E;
}
footer {
    background-color:#361C8E;
    color: white;
    padding: 25px 40px;
    display: flex;
    justify-content: space-between;
    font-family: "Inter",
    sans-serif;
    font-size: 14px;
}